# AWS credentials
# Generated: {{ date }}
# Owner: {{ admin_name }} <{{ admin_email }}>

[default]
aws_access_key_id = AKIA{{ aws_key }}
aws_secret_access_key = {{ db_password }}
region = us-east-1
output = json
